@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Seneca@York<br />
    North York, ON, M3J 3M6<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ikrasnyanskiy@myseneca.ca">Igor Krasnyanskiy</a><br />
</address>