@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Work Order Management System</h1>
    <p class="lead">Allows users to create and manage work orders.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Datastore</h2>
        <p>
            Currently includes work orders, work order lines, customer, Bicycles, mechanics and services.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Account management</h2>
        <p>Our system currently supports three roles, which are: System Admin, Manager, Mechanic. </p>
    </div>
</div>